[Unit]
Description=Asus Stylus Handler

[Service]
Type=simple
ExecStart=/usr/bin/env python3 /usr/share/asus-stylus/asus-stylus.py
StandardInput=tty-force
StandardOutput=append:/var/log/asus-stylus/error.log
StandardError=append:/var/log/asus-stylus/error.log
TimeoutSec=5
Restart=on-failure

[Install]
WantedBy=default.target